.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.login-button{
  margin-top:30px;
}
.auth-label{
  margin:10px;
}
.auth-container{
  border: 1px solid #dddddd;
  margin-top:40px;
  background-color:#f8f8f8 ;
  
}
.secret-key-container{
  background-color: azure;
  border:0.5px solid #B8B8B8;
}
.btn-info{
  color:white;
  font-weight: 600;
}
.create-user-button{
  margin-top:2rem;
  margin-bottom:2rem;
}
.create-device-button{
  margin-top:2rem;
  margin-bottom:2rem;
}
.datepicker-container{
  text-align:left;
  margin:30px;
  
}

